/* ----------------------------
/*  Name: wittwer-informatik-scroll-site
    Author: Simon Wittwer
    Version: 1.0
/* -------------------------- */

.wi-text-main{
    font-size: 18px;
}

.wi-text-small{
    font-size: 14px;
}

.wi-padding{
    padding-top: 80px;
}

.wi-company-name{
    font-style: italic;
}